@model IEnumerable<Domain.FamilyTree>

@{
    ViewData["Title"] = "Index";
}

<h1>My Family Trees</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table text-left">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FamilyTreeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPublic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="align-middle text-left">
                @Html.DisplayFor(modelItem => item.FamilyTreeName)
            </td>
            <td class="align-middle text-left">
                @(item.IsPublic ? "Yes" : "No")
            </td>
            <td class="align-middle text-left">
                <a asp-action="PeopleInFamilyTree" asp-route-id="@item.FamilyTreeId">View people</a> |
                <a asp-action="Edit" asp-route-id="@item.FamilyTreeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FamilyTreeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FamilyTreeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
